.button {
	-fx-background-color: #F2F2F2 !important;
	//-fx-background-color: linear-gradient(#F2F2F2, #AAA29D);
	-fx-border-radius: 10px 30px;
	-fx-background-radius: 10px 30px;
}
.button:hover {
	-fx-border-radius: 10px 40px;
	-fx-background-radius: 10px 40px;
	//Farbe ändern funktioniert noch nicht
	//-fx-background-color: linear-gradient(to top, #F2F2F2, #AAA29D);
	//-fx-background-color: #AAA29D;
}

.button:pressed {
	-fx-border-radius: 10px 50px;
	-fx-background-radius: 10px 50px;
}